<h1><%= @cat.name %></h1>

<table>
    <tr>
        <th scope = "col"> Name </th>
        <th scope = "col"> Birth Date </th>
        <th scope = "col"> Color </th>
        <th scope = "col"> Sex </th>
        <th scope = "col"> Description </th>
    </tr>
    <tr>
        <td><%= @cat.birth_date %></td>
        <td><%= @cat.age %></td>
        <td><%= @cat.color %> </td>
        <td><%= @cat.sex %> </td>
        <td><%= @cat.description %> </td>
    </tr>
</table>